body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-lato: Lato;
  --font-oxanium: Oxanium;
  --font-outfit: Outfit;
  --font-poppins: Poppins;

  /* font sizes */
  --font-size-11xl: 30px;
  --font-size-31xl: 50px;
  --font-size-81xl: 100px;
  --font-size-46xl: 65px;
  --font-size-6xl: 25px;

  /* Colors */
  --color-gray-100: #11111f;
  --color-gray-200: rgba(0, 0, 0, 0.2);
  --color-white: #fff;
  --color-turquoise: #05e6cb;
  --color-lightseagreen: #00a591;
  --color-darkslateblue: #1d1d4b;

  /* Gaps */
  --gap-3xs: 10px;

  /* border radiuses */
  --br-mini: 15px;
  --br-xl: 20px;
  --br-6xl: 25px;
}
