@keyframes slide-in-top {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.csm-acertrition153d-1c1e5beaba-icon {
  position: absolute;
  top: 2930px;
  left: 797px;
  width: 844px;
  height: 686px;
  object-fit: cover;
}
.demo-child,
.demo-inner {
  position: absolute;
  border-radius: 50%;
}
.demo-child {
  top: 1439px;
  left: 1502px;
  background: linear-gradient(136.51deg, #00154c, #05e6cb);
  width: 440px;
  height: 432px;
}
.demo-inner {
  top: 329px;
  left: 634px;
  background-color: var(--color-turquoise);
  filter: blur(1000px);
  width: 459px;
  height: 459px;
}
.logo-final-x-removebg-preview-icon {
  position: absolute;
  top: 16px;
  left: 97px;
  width: 216px;
  height: 163px;
  object-fit: cover;
}
.group-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  background-color: var(--color-lightseagreen);
  width: 336px;
  height: 61px;
}
.request-a-demo {
  position: absolute;
  top: 6px;
  left: 35px;
  font-size: 32px;
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: left;
}
.rectangle-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 336px;
  height: 61px;
}
.about-us-,
.contact-us-,
.group-1-button,
.home-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
}
.group-1-button {
  top: 67px;
  left: 1272px;
  width: 336px;
  height: 61px;
}
.about-us-,
.contact-us-,
.home-button {
  top: 78px;
  left: 748px;
  font-size: var(--font-size-6xl);
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
}
.about-us-,
.contact-us- {
  left: 889px;
}
.contact-us- {
  left: 1062px;
}
.wrapper {
  position: absolute;
  top: 226px;
  left: 64px;
  border-radius: var(--br-xl);
  width: 1600px;
  height: 900px;
  background-image: url(./public/rectangle2@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.explore-our-models {
  margin: 0;
  position: absolute;
  top: 1313px;
  left: calc(50% - 550px);
  font-size: 120px;
  line-height: 127%;
  font-weight: 700;
  font-family: inherit;
  color: #b0ffde;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.rectangle-div {
  position: absolute;
  top: 1511px;
  left: 120px;
  border-radius: var(--br-6xl);
  background: linear-gradient(
    108.46deg,
    rgba(247, 247, 247, 0.42),
    rgba(128, 128, 128, 0.11)
  );
  backdrop-filter: blur(30px);
  width: 1488px;
  height: 1050px;
}
.ellipse-div,
.ellipse-icon {
  position: absolute;
  width: 440px;
}
.ellipse-div {
  top: 1439px;
  left: 1502px;
  border-radius: 50%;
  background: linear-gradient(136.51deg, #00154c, #05e6cb);
  height: 432px;
}
.ellipse-div:hover,
.ellipse-icon:hover {
  animation: 1s ease 0s infinite normal none slide-in-top;
  opacity: 1;
}
.ellipse-icon {
  top: 2306.89px;
  left: 0;
  height: 440px;
}
.demo-child1,
.demo-child2 {
  position: absolute;
  top: 2646px;
  left: 120px;
  border-radius: var(--br-6xl);
  background: linear-gradient(
    108.46deg,
    rgba(247, 247, 247, 0.42),
    rgba(128, 128, 128, 0.11)
  );
  backdrop-filter: blur(30px);
  width: 1488px;
  height: 1050px;
}
.demo-child2 {
  top: 3781px;
  height: 1193px;
}
.demo-child3,
.demo-child4 {
  position: absolute;
  top: 4720px;
  left: -119px;
  border-radius: 50%;
  background: linear-gradient(136.51deg, #00154c, #05e6cb);
  width: 440px;
  height: 440px;
}
.demo-child4 {
  top: 3535px;
  left: 1502px;
}
.group-icon {
  position: absolute;
  top: 1720px;
  left: 43px;
  width: 598px;
  height: 712px;
  object-fit: cover;
}
.group-inner,
.group-item {
  position: absolute;
  top: 0;
  left: 0;
}
.group-item {
  background-color: var(--color-white);
  filter: blur(45px);
  width: 494px;
  height: 160px;
}
.group-inner {
  border-radius: var(--br-xl);
  background: linear-gradient(95.38deg, #d6b2fd, #b2f6eb);
  width: 470px;
  height: 150px;
}
.explore-now {
  position: absolute;
  top: 33px;
  left: 49px;
  font-size: var(--font-size-46xl);
  line-height: 127%;
  font-weight: 600;
  font-family: var(--font-lato);
  color: var(--color-darkslateblue);
  text-align: left;
  -webkit-text-stroke: 1px rgba(5, 230, 203, 0.9);
}
.rectangle-container {
  position: absolute;
  top: 5px;
  left: 12px;
  width: 470px;
  height: 150px;
}
.frame-child {
  position: relative;
  background-color: var(--color-lightseagreen);
  filter: blur(45px);
  width: 494px;
  height: 160px;
  z-index: 0;
}
.explore-now1 {
  position: absolute;
  top: 33px;
  left: 52px;
  font-size: var(--font-size-46xl);
  line-height: 127%;
  font-family: var(--font-outfit);
  color: var(--color-gray-100);
  text-align: left;
  -webkit-text-stroke: 1px rgba(0, 21, 76, 0.85);
  mix-blend-mode: luminosity;
}
.explore-now-wrapper {
  position: absolute;
  margin: 0 !important;
  top: 0;
  left: 12px;
  border-radius: var(--br-xl);
  background: linear-gradient(180.45deg, #638dfa, #19fade);
  width: 469px;
  height: 149px;
  z-index: 1;
}
.frame-div,
.frame-wrapper,
.rectangle-group {
  position: absolute;
  top: 0;
  width: 490px;
  height: 160px;
}
.frame-div {
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.frame-wrapper,
.rectangle-group {
  left: 2px;
}
.rectangle-group {
  left: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 494px;
}
.group-15-button,
.group-16-button,
.group-17-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 2272px;
  left: 883px;
  width: 494px;
  height: 160px;
}
.group-16-button,
.group-17-button {
  top: 4647px;
  left: 864px;
}
.group-16-button {
  top: 3390px;
  left: 246px;
}
.optimise-your-table {
  margin: 0;
}
.optimise-your-table-container {
  position: absolute;
  top: 1937px;
  left: 790px;
  font-size: var(--font-size-31xl);
  line-height: 170%;
  font-weight: 600;
}
.demo-child5,
.demo-child6,
.demo-child7,
.demo-child8,
.demo-child9 {
  position: absolute;
  top: 1989px;
  left: 766px;
  border-radius: 50%;
  background: linear-gradient(136.51deg, #05e6cb, #d6b2fd);
  width: 19px;
  height: 19px;
}
.demo-child6,
.demo-child7,
.demo-child8,
.demo-child9 {
  top: 4392px;
}
.demo-child7,
.demo-child8,
.demo-child9 {
  top: 2063px;
}
.demo-child8,
.demo-child9 {
  top: 4466px;
}
.demo-child9 {
  top: 2137px;
}
.optimise-inventory-management-container {
  position: absolute;
  top: 0;
  left: 24px;
  line-height: 148%;
  font-weight: 600;
}
.group-child5,
.group-child6,
.group-child7 {
  position: absolute;
  top: 37px;
  left: 0;
  border-radius: 50%;
  background: linear-gradient(136.51deg, #05e6cb, #d6b2fd);
  width: 19px;
  height: 19px;
}
.group-child6,
.group-child7 {
  top: 111px;
}
.group-child7 {
  top: 185px;
}
.optimise-inventory-management-parent {
  position: absolute;
  top: 3051px;
  left: 145px;
  width: 759px;
  height: 222px;
  font-size: var(--font-size-31xl);
}
.int {
  font-weight: 600;
}
.menus {
  color: var(--color-turquoise);
}
.interactive-menus {
  position: absolute;
  top: 1570px;
  left: calc(50% - 418px);
  line-height: 148%;
  font-family: var(--font-oxanium);
}
.interactive-real-estate-container {
  top: 3843px;
  left: calc(50% - 525px);
}
.interactive-real-estate-container,
.interactive-retail,
.interior-design {
  position: absolute;
  line-height: 148%;
  font-family: var(--font-oxanium);
}
.interior-design {
  top: 3958px;
  left: calc(50% - 525px);
  font-weight: 600;
}
.interactive-retail {
  top: 2678px;
  left: calc(50% - 395px);
}
.csm-acertrition153d-1c1e5beaba-icon1 {
  position: absolute;
  top: 2912px;
  left: 797px;
  width: 811px;
  height: 686px;
  object-fit: cover;
}
.real-time-visualisation {
  margin: 0;
  line-height: 148%;
}
.span {
  line-height: 148%;
}
.immersive-tours,
.remotely-accessible-truly {
  line-height: 101.5%;
}
.immersive-tours {
  margin: 0;
}
.real-time-visualisation-container {
  position: absolute;
  top: 160px;
  left: 720px;
  font-weight: 600;
}
.real-removebg-preview-1-icon,
.real-removebg-preview-2-icon {
  position: absolute;
  left: 0;
  width: 690.92px;
  height: 560.43px;
  object-fit: cover;
}
.real-removebg-preview-2-icon {
  top: 52.57px;
  opacity: 0.2;
}
.real-removebg-preview-1-icon {
  top: 0;
}
.real-removebg-preview-2-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 690.92px;
  height: 613px;
}
.real-time-visualisation-cust-parent {
  position: absolute;
  top: 4195px;
  left: 70px;
  width: 1614px;
  height: 613px;
  font-size: var(--font-size-31xl);
}
.demo-child10 {
  position: absolute;
  top: 5365px;
  left: -4px;
  background-color: #000;
  width: 1725px;
  height: 1184px;
  opacity: 0.7;
}
.couldnt-find-what {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 148%;
  font-weight: 600;
}
.span1 {
  background: linear-gradient(180deg, #05e6cb, #d6b2fd 88.02%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.looking-for-container {
  position: absolute;
  top: 44.72px;
  left: 0;
  font-size: 105.23px;
  line-height: 148%;
  font-weight: 800;
  -webkit-text-stroke: 0.9px #000;
}
.couldnt-find-what-you-are-parent,
.get-in-touch {
  position: absolute;
  top: 5479px;
  left: 57px;
  width: 802px;
  height: 200.72px;
  font-size: 39.46px;
}
.get-in-touch {
  top: 5772.86px;
  font-size: 38.16px;
  line-height: 148%;
  display: inline-block;
  width: 672.63px;
  height: 184.14px;
}
.rectangle-8-input {
  border: 4px solid var(--color-turquoise);
  top: 5577px;
  left: 950px;
  box-sizing: border-box;
  width: 705px;
  height: 112px;
}
.rectangle-11-button,
.rectangle-8-input,
.rectangle-9-input {
  position: absolute;
  border-radius: var(--br-mini);
  background-color: var(--color-gray-200);
}
.rectangle-9-input {
  cursor: pointer;
  border: 4px solid var(--color-turquoise);
  padding: 0;
  top: 5795px;
  left: 950px;
  box-sizing: border-box;
  width: 705px;
  height: 112px;
}
.rectangle-11-button {
  top: 0;
  left: 0;
  width: 281px;
  height: 84px;
}
.submit-now- {
  position: absolute;
  top: 21px;
  left: 48px;
  line-height: 148%;
  font-weight: 600;
}
.rectangle-11-button-parent {
  position: absolute;
  top: 6354px;
  left: 950px;
  width: 281px;
  height: 84px;
  font-size: 28px;
}
.rectangle-10-input {
  border: 4px solid var(--color-turquoise);
  background-color: var(--color-gray-200);
  position: absolute;
  top: 6013px;
  left: 950px;
  border-radius: var(--br-mini);
  box-sizing: border-box;
  width: 705px;
  height: 309px;
}
.email-address,
.first-name,
.message {
  position: absolute;
  top: 5523px;
  left: 950px;
  font-size: var(--font-size-11xl);
  line-height: 148%;
  font-weight: 500;
}
.email-address,
.message {
  top: 5741px;
}
.message {
  top: 5959px;
}
.vector-icon,
.vector-icon1 {
  position: relative;
  width: 89.58px;
  height: 74.03px;
}
.vector-icon1 {
  width: 73.33px;
  height: 73.33px;
}
.vector-icon2,
.vector-icon3 {
  position: relative;
  width: 76.02px;
  height: 76.02px;
}
.vector-icon3 {
  width: 44.79px;
  height: 78.17px;
}
.frame-1-button {
  text-decoration: none;
  position: absolute;
  top: 6059px;
  left: 57px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 61px;
}
.demo {
  position: relative;
  background-color: var(--color-gray-100);
  width: 100%;
  height: 8466px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-81xl);
  color: var(--color-white);
  font-family: var(--font-lato);
}
